
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  color: #000; }

.h1, .h2 {
  font-family: "Poppins", sans-serif; 
  }
  .form-header h1{
      font-weight: 700;
      font-size: 3.5rem;
  }
  .description h2{
        font-weight: 700;
        font-size: 2rem;
  }
p{
    font-family: pt-sans, sans-narrow;
}
.container{
    height: 100vh;
    background-image:
    radial-gradient(
      circle at bottom left,
      #00d5ff,
      #fff 30%
    );
}
.form-container{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-image:
        radial-gradient(
        circle at top right,
        #00d5ff,
        #fff 14%
        );
}

.container-wrap{
    display: flex;
}
.form {
    width: 50%;
    border-right: 1px solid #ccc;
}
.description{
    width: 30%;
    margin-left: 20px;
    padding-left: 30px;
    align-content: center;
    justify-content: center;
}
#email{
    width: 86%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    
}
.names{
    width: 40%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #999999;
}
.comment{
    width: 87%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #999999;
}
.btn{
    /* background-color: #ef5a03; */
    background-color: #ef5a03d5;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer; 
    padding: 12px 20px;
}

